<nav class="navbar fixed-top navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PiggyBank
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/piggy-bank">&#128022;PiggyBank</a></li>
                        <li><a class="dropdown-item" href="/piggy-bank/piggy-model">&#128023;PiggyModel</a></li>
                        <li><a class="dropdown-item" href="/toilet">&#128701;Toilet</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Games
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/wheel-of-fortune">Wheel of Fortune</a></li>
                        <li><a class="dropdown-item" href="/Wishing Well">Wishing Well</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Prizes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/prize/store">&#127873;Store</a></li>
                        <li><a class="dropdown-item" href="/prize/inventory">&#128230;Inventory</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/issue">Issues</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <%= user.name ? user.name : "Visitor"%>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item"
                               href="/user/login">&#128100;<%= !user.type || user.type === "" ? "Log In": "Log Out" %></a></li>
                        <li><a class="dropdown-item"
                               href="/user/change">&#128101;Update Info</a></li>
                        <li><a class="dropdown-item" href="/user/admin">	&#128421;Admin</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            &#128169;<%= currency[0].poops %>
            &#129364;<%= currency[0].potatoes %>
            &#127817;<%= currency[0].watermelons %>
            &#127792;<%= currency[0].chestnuts %>
            &#129370;<%= currency[0].eggs %>
        </div>
    </div>
</nav>