<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-4">
        <h1 class="card-header textcenter inventory"> &#128230;Inventory</h1>
    </div>
</div>
<div class="container" <%= !user.type || user.type === "" ? "hidden" : {} %>>
    <% let i = 0; %>
    <div class="accordion">
        <% for (let prize of prizes){ %>
            <div class="accordion-item">
                <h2 class="accordion-header" id="inventory<%= i %>>">
                    <button class="accordion-button collapsed <%= prize.main === true && prize.secondary === true ? "inventory" : "notreceived" %>"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse<%= i %>" aria-expanded="false"
                            aria-controls="flush-collapse<%= i %>">
                        <%= prize.name %>
                    </button>
                </h2>
                <div id="flush-collapse<%= i %>"
                     class="accordion-collapse collapse <%= prize.main === true && prize.secondary === true ? {} : "show" %>"
                     aria-labelledby="inventory<%= i %>>"
                     data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        <div class="card-body">
                            <p>Date: <%= prize.date.toISOString().slice(0, 10) %></p>
                        </div>
                        <div class="card-body">
                            <p>Game: <%= prize.game %></p>
                        </div>
                        <div class="card-body">
                            <p>Sent: <%= prize.main %></p>
                        </div>
                        <div class="card-body">
                            <p>Received: <%= prize.secondary %></p>
                        </div>
                        <div class="card-body" <%= prize.secondary ? {} : "hidden"%>>
                            <p>Received Date: <%= prize.receivedDate.toISOString().slice(0, 10)  %></p>
                        </div>
                        <li class="list-group-item">
                            <form class="d-inline" action="/prize/inventory/sent/<%= prize._id %>?_method=PUT"
                                  method="POST">
                                <button class="btn <%= prize.main === true ? "notreceived" : "inventory" %>" <%= user.type === "Main" ? {} : "disabled"%>>
                                    <%= prize.main === true ? "Not Sent" : "Sent" %></button>
                            </form>
                            <form class="d-inline right"
                                  action="/prize/inventory/received/<%= prize._id %>?_method=PUT" method="POST">
                                <button class="btn <%= prize.secondary === true ? "notreceived" : "inventory" %>" <%= user.type === "Secondary" ? {} : "disabled"%>>
                                    <%= prize.secondary === true ? "Not Received" : "Received" %></button>
                            </form>
                        </li>
                    </div>
                </div>
            </div>
            <% i++; %>
        <% } %>
        <p></p>
    </div>
</div>