<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="card-header textcenter">Admin</h1>
        <div class="card-body">
            <ul class="list-group list-group-flush row">
                <li class="list-group-item mb-3">
                    <div class="col-10 offset-1 textcenter">
                        <p class="card-title">Points</p>
                        <form action="/user/admin/reset-points" method="POST" novalidate class="validated-form">
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-outline-dark"
                                        id="reset-points-submit" <%= user.type === "Main" ? {} : "disabled" %>>Reset
                                    Points
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="list-group-item mb-3">
                    <div class="col-10 offset-1 textcenter">
                        <p class="card-title">Piggy Bank</p>
                        <form action="/user/admin/reset-piggy-bank" method="POST" novalidate class="validated-form">
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-outline-dark"
                                        id="reset-piggy-bank" <%= user.type === "Main" ? {} : "disabled" %>>Reset Piggy
                                    Bank
                                </button>
                            </div>
                        </form>
                        <form action="/user/admin/reset-piggy-model" method="POST" novalidate class="validated-form">
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-outline-dark"
                                        id="reset-piggy-model" <%= user.type === "Main" ? {} : "disabled" %>>Reset Piggy
                                    Model
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="list-group-item mb-3">
                    <div class="col-10 offset-1 textcenter">
                        <p class="card-title">Secret Code</p>
                        <form action="/user/admin/reset-main-secret-code" method="POST" novalidate
                              class="validated-form">
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-outline-dark"
                                        id="reset-piggy-model" <%= user.type === "Main" ? {} : "disabled" %>>Reset Main
                                    Code
                                </button>
                            </div>
                        </form>
                        <form action="/user/admin/reset-secondary-secret-code" method="POST" novalidate
                              class="validated-form">
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-outline-dark"
                                        id="reset-piggy-model" <%= user.type === "Main" ? {} : "disabled" %>>Reset
                                    Secondary Code
                                </button>
                            </div>
                        </form>
                        <form action="/user/admin/reset-secondary-secret-code" method="POST" novalidate
                              class="validated-form">
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-outline-dark"
                                        id="reset-piggy-model" <%= user.type === "Main" ? {} : "disabled" %>>Reset
                                    Secondary Code
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
                <li class="list-group-item mb-3">
                    <div class="col-10 offset-1 textcenter">
                        <p class="card-title">Prizes</p>
                        <form action="/user/admin/reset-store" method="POST" novalidate
                              class="validated-form">
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-outline-dark"
                                        id="reset-piggy-model" <%= user.type === "Main" ? {} : "disabled" %>>Reset Store
                                </button>
                            </div>
                        </form>
                        <form action="/user/admin/reset-inventory" method="POST" novalidate
                              class="validated-form">
                            <div class="mb-3 d-grid gap-2">
                                <button class="btn btn-outline-dark"
                                        id="reset-piggy-model" <%= user.type === "Main" ? {} : "disabled" %>>Reset
                                    Inventory
                                </button>
                            </div>
                        </form>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>