<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="card-header login textcenter">&#128101;UpdateInfo</h1>
        <div class="card-body">
            <div class="col-10 offset-1">
                <form action="/user/change?_method=PUT" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label for="cur-user" class="form-label">Current User</label>
                        <input type="text" class="form-control" id="cur-user" name="curUser" value="<%= user.name %>"
                               disabled>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="new-user" class="form-label">New Username</label>
                        <input type="text" class="form-control" id="new-user" name="newUser" value="<%= user.name %>" <%= !user.type || user.type === "" ? "disabled" : {}%>>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <label for="new-secret-code" class="form-label">New Secret Code</label>
                        <input type="text" class="form-control" id="new-secret-code" name="newCode" <%= !user.type || user.type === "" ? "disabled" : {}%>>
                        <div class="valid-feedback"></div>
                    </div>
                    <div class="mb-3">
                        <button class="btn login" id="change-submit" <%= !user.type || user.type === "" ? "disabled" : {}%>>Update Info
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>