<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="text-center card-header piglet">Edit Piglet</h1>
        <div class="card-body">
            <div class="col-8 offset-2">
                <form action="/piggy-bank/<%= piggyBank._id %>?_method=PUT" method="POST">
                    <input type="hidden" name="piggyBank[status]" value="piglet&#128061;">
                    <input type="hidden" name="piggyBank[priority]" value=1>
                    <div class="mb-3">
                        <label for="piggyModel" class="form-label">Piglet Name</label>
                        <div id="piggyModel">
                            <% let i = 0; %>
                            <% for (let piggyModel of piggyModels){ %>
                                <div class="form-check">
                                    <input class="form-check-input" name="piggyBankId" type="radio"
                                           id="piggyModel<%= i %>"
                                           value="<%= piggyModel._id %>" <%= piggyModel.name === piggyBank.name ? "checked" : {} %>>
                                    <label class="form-check-label" for="piggyModel<%= i %>">
                                        <%= piggyModel.points %><%= piggyModel.currency.slice(-2) %><%= piggyModel.name %>
                                    </label>
                                    <% i++; %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="piggy-edit-date" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="piggy-edit-date" name="piggyBank[date]"
                               value="<%= piggyBank.date.toISOString().slice(0, 10) %>">
                    </div>
                    <div class="mb-3">
                        <label for="piggy-edit-description" class="form-label">Introduction</label>
                        <input type="text" class="form-control" id="piggy-edit-description"
                               name="piggyBank[description]"
                               value="<%= piggyBank.description %>">
                    </div>
                    <div class="mb-3 d-grid gap-2">
                        <button class="btn piglet" id="piggy-edit-submit">Update Piglet</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-8 offset-2 mb-3 outcenter">
        <a class="btn piggy" href="/piggy-bank/<%= piggyBank._id %>">Back to Piggy</a>
    </div>
</div>