<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="text-center card-header piglet">Edit Piglet</h1>
        <div class="card-body">
            <div class="col-8 offset-2">
                <form action="/piggy-bank/<%= piggybank._id %>?_method=PUT" method="POST">
                    <input type="hidden" name="piggybank[status]" value="piglet&#128061;">
                    <div class="mb-3">
                        <label for="name" class="form-label">Piggy Name</label>
                        <input type="text" class="form-control" id="name" name="piggybank[name]"
                               value="<%= piggybank.name %>">
                    </div>
                    <div class="mb-3">
                        <label for="points" class="form-label">Potatoes</label>
                        <input type="number" class="form-control" id="points" name="piggybank[points]"
                               value="<%= piggybank.points %>">
                    </div>
                    <div class="mb-3">
                        <label for="date" class="form-label">Birthday</label>
                        <input type="date" class="form-control" id="date" name="piggybank[date]"
                               value="<%= piggybank.date.toISOString().slice(0, 10) %>">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Introduction</label>
                        <input type="text" class="form-control" id="description" name="piggybank[description]"
                               value="<%= piggybank.description %>">
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="text" class="form-control" id="image" name="piggybank[image]"
                               value="<%= piggybank.image %>">
                    </div>
                    <div class="mb-3">
                        <button class="btn piglet">Update Piglet</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-8 offset-2 mb-3 outcenter">
        <a class="btn piggy" href="/piggy-bank/<%= piggybank._id %>">Back to Piggy</a>
    </div>
</div>