<% layout('layouts/boilerplate') %>
<div class="container">
    <div class="card mb-3">
        <h1 class="card-header textcenter piggy">Piggy&#128022;Bank</h1>
        <div class="card-body">
            <ul class="list-group list-group-flush row">
                <li class="list-group-item">
                    <a class="btn piglet" href="/piggy-bank/new-piggy">New Piglet</a>
                    <a class="btn right boar" href="/piggy-bank/piggy-model">Piggy Model</a>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="column col-1">
                            <div>&#129364;</div>
                        </div>
                        <div class="column col-11">
                            <div class="progress">
                                <div class="potato progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar"
                                     style="width: <%= currency[0].potatoes %>%">
                                    <%= currency[0].potatoes %>/100
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column col-1">
                            <div>&#127817;</div>
                        </div>
                        <div class="column col-11">
                            <div class="progress">
                                <div class="watermelon progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar"
                                     style="width: <%= currency[0].watermelons * 2 %>%">
                                    <%= currency[0].watermelons %>/50
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column col-1">
                            <div>&#129370;</div>
                        </div>
                        <div class="column col-11">
                            <div class="progress">
                                <div class="egg progress-bar progress-bar-striped progress-bar-animated"
                                     role="progressbar"
                                     style="width: <%= currency[0].eggs * 10 %>%">
                                    <%= currency[0].eggs %>/10
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container" <%= !user.type || user.type === "" ? "hidden" : {} %>>
    <% for (let piggyBank of piggyBanks){
        var color;
        switch (piggyBank.status.slice(0, -2).toLowerCase()) {
            case "piglet":
                color = "#e9899b";
                break;
            case "bacon":
                color = "#9d2f1c";
                break;
            case "piggy":
                color = "#fce7d8";
                break;
        } %>
    <div class="card mb-3">
        <p class="card-header"
           style="color:<%= piggyBank.status.slice(0, -2).toLowerCase() === "bacon" ? "white" : {} %>;background-color: <%= color %>"><%= piggyBank.name %> <%= piggyBank.status.slice(-2) %></p>
        <div class=" card-body">
            <p class="card-title"><%= piggyBank.date.toISOString().slice(0, 10) %></p>
            <a class="btn barn" href="/piggy-bank/<%= piggyBank._id %>">Visit Barn</a>
        </div>
    </div>
    <% } %>
</div>