<% layout('layouts/boilerplate') %>
<% let color;
switch (piggybank.status.slice(0, -2).toLowerCase()) {
    case "piglet":
        color = "#e9899b";
        break;
    case "bacon":
        color = "#9d2f1c";
        break;
    case "piggy":
        color = "#fce7d8";
        break;
}
let admin = false;
if(code && code === users[0].code){
    admin = true;
}%>
<div class="container">
    <div class="card mb-3 col-10 offset-1">
        <h1 class="card-header piglet textcenter"
            style="color:<%= piggybank.status.slice(0, -2).toLowerCase() === "bacon" ? "white" : {} %>;background-color: <%= color %>; "><%= piggybank.name %></h1>
        <div class="card-body">
            <div class="mb-3">
                <p class="list-group-item">
                    Value: <%= piggybank.points %><%= piggybank.currency.slice(-2) %></p>
                <p class="list-group-item">Birthday: <%= piggybank.date.toISOString().slice(0, 10) %></p>
                <p class="list-group-item">Age: <%= piggybank.status %></p>
                <p class="list-group-item">Type: <%= piggybank.type %></p>
                <p class="card-text">Introduction: <%= piggybank.description %></p>
            </div>
            <div class="mb-3">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"></li>
                    <li class="list-group-item">
                        <a class="card-link btn piglet" href="/piggy-bank/<%= piggybank._id %>/edit">Edit</a>
                        <form class="d-inline right" action="/piggy-bank/<%= piggybank._id %>?_method=DELETE"
                              method="POST">
                            <button class="btn watermelon">Abandon</button>
                        </form>
                    </li>
                    <li class="list-group-item">
                        <form class="d-inline" action="/piggy-bank/<%= piggybank._id %>/Piggy&#128022;/<%= admin ? code : "null"%>?_method=PUT"
                              method="POST">
                            <button class="btn piggy" <%= piggybank.status.slice(0, -2).toLowerCase() === "piggy" ? "disabled" : !admin ? "disabled" : {} %>>
                                Piggy
                            </button>
                        </form>
                        <form class="d-inline right"
                              action="/piggy-bank/<%= piggybank._id %>/Bacon&#129363;/<%= admin ? code : "null"%>?_method=PUT" method="POST">
                            <button class="btn bacon" <%= piggybank.status.slice(0, -2).toLowerCase() === "bacon" ? "disabled" : !admin ? "disabled" : {} %> >
                                Bacon
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mb-3 col-8 offset-2 mb-3 outcenter">
        <a class="btn piggy" href="/piggy-bank">Back to Piggy Bank</a>
    </div>
</div>