<% layout('layouts/boilerplate')%>
<div class="container">
    <h1 class="text-center">Edit Piglet</h1>
    <div class="col-8 offset-2">
        <form action="/piggybank/<%=piggybank._id%>?_method=PUT" method="POST">
            <input type="hidden" name="piggybank[status]" value="piglet&#128061;">
            <div class="mb-3">
                <label for="piggymodel" class="form-label">Piglet Name</label>
                <div id="piggymodel">
                    <% let i=0; %>
                    <% for (let piggymodel of piggymodels){ %>
                        <div class="form-check">
                            <input class="form-check-input" name="piggybankid" type="radio" id="piggymodel<%= i%>" value="<%= piggymodel._id%>" <%= piggymodel.name===piggybank.name ? "checked" : null%>>
                            <label class="form-check-label" for="piggymodel<%= i%>">
                                <%= piggymodel.points%><%=piggymodel.currency.slice(-2)%><%= piggymodel.name%>
                            </label>
                            <% i++; %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="mb-3">
                <label for="date" class="form-label">Birthday</label>
                <input type="date" class="form-control" id="date" name="piggybank[date]" value="<%=piggybank.date.toISOString().slice(0, 10)%>">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Introduction</label>
                <input type="text" class="form-control" id="description" name="piggybank[description]" value="<%=piggybank.description%>">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input type="text" class="form-control" id="image" name="piggybank[image]" value="<%=piggybank.image%>">
            </div>
            <div class="mb-3">
                <button class="btn" style="background-color: #e9899b">Update Piglet</button>
                <p></p>
                <a class="btn" style="background-color: #fce7d8" href="/piggybank/<%= piggybank._id%>">Back to Piggy</a>
            </div>
        </form>

    </div>
</div>